#main {
    flex-grow: 1;
    display: flex;
}

#article {
    margin: 0 15px;
    height: 100%;

}
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table thead {
    background-color: #4caf50;
    color: white;
}

table th, table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

a.btn {
    display: inline-block;
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}